.Gallery {display:none}
@media (min-width: 700px){

  
  .Gallery {
    display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.Panel {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 120px;
  filter: blur(2px);
  transition: all 0.5s;
}
.Panel:hover {
  transition: all 0.5s cubic-bezier(0.42, -0.18, 0.12, -0.21);
  transform: scale(1.3);
  filter: blur(0px);
}

.Panel > p {
  background-color: rgba(0, 0, 0, 0.644);
  text-align: center;
}

.panel1 {
  background-image: url("../assets/pexels-david-alberto-carmona-coto-1151418.jpg");
}
.panel2 {
  background-image: url("../assets/pexels-ece-ak-3130392.jpg");
}
.panel3 {
  background-image: url("../assets/pexels-elizaveta-kozorezova-1825189.jpg");
}
.panel4 {
  background-image: url("../assets/pexels-negative-space-34153.jpg");
}
.panel5 {
  background-image: url("../assets/pexels-pixabay-270360.jpg");
}

}