.App {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

li {
  font-size: 48px;
  font-weight: bold;
  list-style: none;
  padding: 3rem;
}

h1 {
  color: rebeccapurple;
}

a {
  text-decoration: none;
  color: #ececec;
}

.Clock {
  font-size: 48px;
}
