.App {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto;
  justify-content: center;
  justify-items: center;
  padding: 1rem;
}

.NavBar {
  display: flex;
}
li {
  font-size: 48px;
  font-weight: bold;
  list-style: none;
  padding: 3rem;
  text-align: center;
}

h1 {
  color: rebeccapurple;
}

a {
  color: #ececec;
  text-decoration: none;
}

.Clock {
  font-size: 48px;
}
